<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>JavaSpringJBossPlayground</title>
    <script type="text/javascript" src="js/lib/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</head>
<body style="background-image: url('http://lorempixel.com/1800/1800/');background-size: 100%;">
    <form id="loginForm"
        style="
            margin: auto;
            position: absolute;
            top: 50%;
            margin-top: -10em;
            margin-left: -10em;
            left: 50%;">
        <table >
            <tr >
                <td colspan="2" align="center" style="color:white">Welcome to the playground</td>
            </tr>
            <tr>
                <td align="right" style="color: white;">Username</td>
                <td><input type="text" name="userName" id="userName"/></td>
            </tr>
            <tr>
                <td align="right" style="color: white;">Password</td>
                <td><input type="password" name="password" id="password"/></td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><button id="submitButton" style="background-color: white" type="submit">Login</button></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><div id="loginErrorDiv" style="color: white"></div></td>
            </tr>
        </table>
    </form>
</body>
</html>